<!DOCTYPE html>
<html ng-app='app'>
<head>
    <meta charset="UTF-8">
    <title>Angularjs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
    
</head>
<body>
   <!-- Работаем с дочерними контроллерами. Вложенные контроллеры-->
    <div ng-controller="myBooksCtrl">
        <div ng-controller="angularBookCtrl">
           <!-- Вызовет свой метод, так как он описан в своем контроллере-->
            <button ng-click="showBook()">Show angular</button>
        </div>
        <div ng-controller="emberBookCtrl">
            <!-- Наследует метод showBook у родительского контролера myBooksCtrl так как в своем контроллере этот метод не переопределен(ООП в общем)-->
            <button ng-click="showBook()">Show ember</button>
        </div>
    </div>
   
   
    <script type="text/javascript" src="main.js"></script>
</body>
</html>